<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>e1ed5-61fb3-9a145-2dbe1-cf6ed-51a67</string>
	<key>consumerSecret</key>
	<string>bdb8d-16b30-7d235-607ee-bf211-bc6f2</string>
	<key>code</key>
	<string>y2IC_IXAUxJqIV34m69vLp</string>
</dict>
</plist>
